archive/react-app/src/n8n/task-workflow.json
{
  "name": "task-workflow",
  "nodes": [
    {
      "parameters": {
        "chatId": "1310836118",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -576,
        -336
      ],
      "id": "b8ab484e-d288-46a9-a0de-0a2725d3f871",
      "name": "Telegram",
      "webhookId": "5bf906b7-c871-4883-b58f-2049da4d4ce6",
      "credentials": {
        "telegramApi": {
          "id": "QlsNx2wrG25hDVU5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -880,
        -208
      ],
      "id": "935aeb89-5cfd-47ad-ab84-a62edacb31bb",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "dQsbXtfS24IRuLpD",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                6,
                0
              ],
              "triggerAtHour": 9,
              "triggerAtMinute": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1872,
        -224
      ],
      "id": "3b30fdd0-2e93-42fc-8276-2d6054a8c8b7",
      "name": "Fines de semana"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1,
                2,
                3,
                4,
                5
              ],
              "triggerAtHour": 7,
              "triggerAtMinute": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1872,
        -432
      ],
      "id": "c2650b7b-7c90-49cc-99b5-61b0e5821d07",
      "name": "Días de semana"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -880,
        304
      ],
      "id": "48a53310-10ee-4cb2-9d54-597fea32ed0e",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "dQsbXtfS24IRuLpD",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                6,
                0
              ],
              "triggerAtHour": 21,
              "triggerAtMinute": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1872,
        -32
      ],
      "id": "08717503-15f2-4ccc-854c-04bd476fb78c",
      "name": "Fines de semana1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1,
                2,
                3,
                4,
                5
              ],
              "triggerAtHour": 21,
              "triggerAtMinute": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1872,
        176
      ],
      "id": "fa402f9a-01b5-43d1-bc2f-2e291cbfe3db",
      "name": "Días de semana1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{JSON.stringify($json)}}",
        "options": {
          "systemMessage": "=Eres mi asistente personal nocturno que me ayuda a planificar y preparar mentalmente el día siguiente.\nTu tarea es analizar las tareas de mañana y futuras para crear un mensaje de preparación inteligente para Telegram.\n\n## INSTRUCCIONES:\n\n### 1. FRASE NOCTURNA DINÁMICA\nBUSCA EN INTERNET una frase que se adapte al contexto de preparación:\n- Si mañana hay muchas tareas: busca frases sobre \"preparation\", \"planning ahead\", \"tomorrow success\"\n- Si es un día ligero: busca frases sobre \"opportunity\", \"making the most\", \"intentional living\"\n- Si hay tareas importantes: busca frases sobre \"focus\", \"achievement\", \"excellence\"\n- Si es víspera de fin de semana: busca frases sobre \"balance\", \"rest and productivity\", \"weekly reflection\"\n\nUsa términos de búsqueda en inglés para mejores resultados y traduce la frase seleccionada al español.\n\n### 2. VISTA PREVIA DEL DÍA\nEstructura así:\n```\n🌙 Tu día de mañana:\n⏰ X tareas programadas para MAÑANA\n📅 X tareas en los próximos días\n🗂️ X tareas sin fecha asignada\n💔 X tareas NO completadas de HOY (si > 0)\nPor categorías: [emoji] X category | [emoji] X category...\nPor prioridades: 🔥 X do | 📅 X schedule | 👥 X delegate\n```\n\n### 3. PREPARACIÓN MENTAL\nIncluye análisis estratégico para la preparación:\n\n**ENFOQUE PRINCIPAL:** Identifica el objetivo más importante de mañana:\n- Si hay tareas no completadas de hoy: evalúa si reprogramar o descartar\n- La tarea o categoría que más impacto tendrá mañana\n- El momento ideal para atacarla\n- Por qué es crucial para tu progreso\n\n**FLUJO SUGERIDO:** Propón una secuencia inteligente:\n- Horario óptimo según tipo de tareas\n- Agrupación por contexto o categoría\n- Momentos de alta/baja energía\n\n**PREPARATIVOS:** Qué necesitas alistar esta noche:\n- Materiales, documentos o herramientas\n- Decisiones que puedes tomar ahora\n- Ambiente o configuración necesaria\n\n### 4. TOP 3 PRIORIDADES DE MAÑANA\nJerarquiza las más importantes (incluye tareas no completadas de hoy si son relevantes):\n```\n🎯 TUS 3 PRIORIDADES DE MAÑANA:\n1. ⏰ [Título] - category (prioridad) [PENDIENTE DE HOY si aplica]\n2. ⏰ [Título] - category (prioridad)  \n3. ⏰ [Título] - category (prioridad)\n```\n\n### 5. CIERRE MOTIVACIONAL\nTermina con:\n- Un insight sobre el progreso que lograrás\n- Una afirmación positiva sobre mañana\n- Recordatorio de descanso/preparación\n\n## PROCESO:\n1. PRIMERO: Busca frase nocturna apropiada según el contexto de mañana\n2. SEGUNDO: Analiza carga y distribución de tareas futuras\n3. TERCERO: Crea estrategia de flujo y preparación\n4. CUARTO: Genera mensaje optimizado para reflexión nocturna\n\n## FORMATO PARA TELEGRAM:\n- NO uses **negritas** (usa MAYÚSCULAS para énfasis)\n- Máximo 16 líneas para lectura relajada\n- Usa emojis nocturnos y de preparación\n- Tono reflexivo pero motivador\n- Incluye nombre \"Alex\" de forma natural\n\n## EMOJIS:\n\n### Nocturnos/Preparación:\n- 🌙, 🌟, ✨, 🔮, 🎯, 📋, 🗂️, ⚡\n\n### Por categoría:\n- work: 💼, ⚡, 📊, 💻, 🎯\n- personal: 🏠, 🌱, ❤️, 🔄\n- health: 🏥, 💊, 🩺, 💪\n- shopping: 🛒, 🛍️, 💳\n- study: 📚, 🎓, 🔬\n\n### Por prioridad:\n- do: 🔥, ⚡, 🚨\n- schedule: 📅, ⏰, 📋\n- delegate: 👥, 🤝, 📤\n- delete: 📝, 🔍, 🗂️\n\n## EJEMPLO DE SALIDA:\n```\n🌙 Buenas noches Alex! \"Tomorrow belongs to those who prepare for it today\" - Malcolm X\n\n🌙 Tu día de mañana:\n⏰ 6 tareas programadas para MAÑANA\n📅 12 tareas en próximos días\n🗂️ 3 tareas sin fecha asignada\n💔 2 tareas NO completadas de HOY\nPor categorías: 💼 4 work | 🏠 1 personal | 📚 1 study\nPor prioridades: 🔥 3 do | 📅 2 schedule | 👥 1 delegate\n\n💡 ENFOQUE PRINCIPAL: Primero decide sobre las 2 tareas pendientes de hoy - ¿reprogramar o descartar? Luego ataca las 4 de work.\n\n⚡ FLUJO SUGERIDO: Resuelve pendientes de hoy temprano (9am), luego las nuevas tareas \"do\" (10am-12pm), menores en tarde.\n\n🗂️ PREPARATIVOS: Revisa las 2 tareas no completadas y decide su destino. Alista documentos del SGSI para mañana.\n\n🎯 TUS 3 PRIORIDADES DE MAÑANA:\n1. ⏰ Revisar tareas pendientes - personal (do) [PENDIENTE DE HOY]\n2. ⏰ Prompt para SGSI - work (do)\n3. ⏰ Cierre Unicauca - work (do)\n\n✨ Tienes algunas cosas arrastradas, pero mañana es perfecto para ponerte al día. No te agobies! 🌟\n```\n\nIMPORTANTE: \n- El tono debe ser más reflexivo que el mensaje matutino\n- Enfócate en PREPARACIÓN más que en urgencia\n- Incluye el autor de la frase cuando sea posible\n- Ayuda a visualizar el éxito del día siguiente\n- Sugiere preparativos concretos para esta noche"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -976,
        80
      ],
      "id": "6b591319-a57a-48e5-94b5-2f36fed3dbc0",
      "name": "Analizar tareas futuras"
    },
    {
      "parameters": {
        "jsCode": "// Procesar todas las tareas que llegan del nodo anterior\nconst allTasks = [];\nconst now = new Date();\n// Ajustar a timezone de Colombia (UTC-5)\nconst colombiaOffset = -5 * 60;\nconst utc = now.getTime() + (now.getTimezoneOffset() * 60000);\nconst colombiaTime = new Date(utc + (colombiaOffset * 60000));\nconst today = new Date(colombiaTime);\ntoday.setHours(0, 0, 0, 0);\n\n// Procesar cada item que llega del nodo anterior\nfor (const item of $input.all()) {\n  const task = {\n    title: item.json.title,\n    category: item.json.category,\n    priority: item.json.priority,\n    isPrivate: item.json.isPrivate,\n    dueDate: item.json.dueDate\n  };\n  allTasks.push(task);\n}\n\nconsole.log(`Procesadas ${allTasks.length} tareas`);\n\n// Función para agrupar tareas por categoría\nfunction groupByCategory(tasks) {\n  return tasks.reduce((groups, task) => {\n    const category = task.category || 'Sin categoría';\n    if (!groups[category]) {\n      groups[category] = [];\n    }\n    groups[category].push({\n      title: task.title,\n      priority: task.priority,\n      isPrivate: task.isPrivate\n    });\n    return groups;\n  }, {});\n}\n\n// Agrupar tareas por estado temporal\nconst overdueTasks = [];\nconst todayTasks = [];\nconst futureTasks = [];\nconst noDateTasks = [];\n\nallTasks.forEach(task => {\n  if (!task.dueDate) {\n    noDateTasks.push(task);\n    return;\n  }\n  \n  const dueDate = new Date(task.dueDate);\n  dueDate.setHours(0, 0, 0, 0);\n  \n  if (dueDate < today) {\n    overdueTasks.push(task);\n  } else if (dueDate.getTime() === today.getTime()) {\n    todayTasks.push(task);\n  } else {\n    futureTasks.push(task);\n  }\n});\n\n// Agrupar cada estado por categoría\nconst groupedTasks = {\n  overdue: {\n    count: overdueTasks.length,\n    byCategory: groupByCategory(overdueTasks)\n  },\n  today: {\n    count: todayTasks.length,\n    byCategory: groupByCategory(todayTasks)\n  },\n  future: {\n    count: futureTasks.length,\n    byCategory: groupByCategory(futureTasks)\n  },\n  noDate: {\n    count: noDateTasks.length,\n    byCategory: groupByCategory(noDateTasks)\n  }\n};\n\n// Estadísticas generales\nconst tasksByPriority = {};\nallTasks.forEach(task => {\n  tasksByPriority[task.priority] = (tasksByPriority[task.priority] || 0) + 1;\n});\n\nreturn [{\n  json: {\n    summary: `${allTasks.length} tareas: ${overdueTasks.length} vencidas, ${todayTasks.length} para hoy, ${futureTasks.length} futuras, ${noDateTasks.length} sin fecha`,\n    totalTasks: allTasks.length,\n    groupedTasks: groupedTasks,\n    tasksByPriority: tasksByPriority,\n    // Conteos rápidos para el AI\n    overdueTasks: overdueTasks.length,\n    todayTasks: todayTasks.length,\n    futureTasks: futureTasks.length,\n    noDateTasks: noDateTasks.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        -336
      ],
      "id": "f9b99ec7-493c-4a21-9580-911d64e26474",
      "name": "agrupar-tareas-atrasadas"
    },
    {
      "parameters": {
        "jsCode": "// Procesar todas las tareas que llegan del nodo anterior\nconst allTasks = [];\nconst now = new Date();\n// Ajustar a timezone de Colombia (UTC-5)\nconst colombiaOffset = -5 * 60;\nconst utc = now.getTime() + (now.getTimezoneOffset() * 60000);\nconst colombiaTime = new Date(utc + (colombiaOffset * 60000));\nconst today = new Date(colombiaTime);\ntoday.setHours(0, 0, 0, 0);\n\n// Procesar cada item que llega del nodo anterior\nfor (const item of $input.all()) {\n  const task = {\n    title: item.json.title,\n    category: item.json.category,\n    priority: item.json.priority,\n    isPrivate: item.json.isPrivate,\n    dueDate: item.json.dueDate\n  };\n  allTasks.push(task);\n}\n\nconsole.log(`Procesadas ${allTasks.length} tareas`);\n\n// Función para agrupar tareas por categoría\nfunction groupByCategory(tasks) {\n  return tasks.reduce((groups, task) => {\n    const category = task.category || 'Sin categoría';\n    if (!groups[category]) {\n      groups[category] = [];\n    }\n    groups[category].push({\n      title: task.title,\n      priority: task.priority,\n      isPrivate: task.isPrivate\n    });\n    return groups;\n  }, {});\n}\n\n// Agrupar tareas por estado temporal\nconst todayTasks = [];\nconst futureTasks = [];\nconst noDateTasks = [];\n\nallTasks.forEach(task => {\n  if (!task.dueDate) {\n    noDateTasks.push(task);\n    return;\n  }\n  \n  const dueDate = new Date(task.dueDate);\n  dueDate.setHours(0, 0, 0, 0);\n  \n  if (dueDate < today) {\n    overdueTasks.push(task);\n  } else if (dueDate.getTime() === today.getTime()) {\n    todayTasks.push(task);\n  } else {\n    futureTasks.push(task);\n  }\n});\n\n// Agrupar cada estado por categoría\nconst groupedTasks = {\n  today: {\n    count: todayTasks.length,\n    byCategory: groupByCategory(todayTasks)\n  },\n  future: {\n    count: futureTasks.length,\n    byCategory: groupByCategory(futureTasks)\n  },\n  noDate: {\n    count: noDateTasks.length,\n    byCategory: groupByCategory(noDateTasks)\n  }\n};\n\n// Estadísticas generales\nconst tasksByPriority = {};\nallTasks.forEach(task => {\n  tasksByPriority[task.priority] = (tasksByPriority[task.priority] || 0) + 1;\n});\n\nreturn [{\n  json: {\n    summary: `${allTasks.length} tareas: ${todayTasks.length} para hoy (no las hice 😓), ${futureTasks.length} futuras, ${noDateTasks.length} sin fecha`,\n    totalTasks: allTasks.length,\n    groupedTasks: groupedTasks,\n    tasksByPriority: tasksByPriority,\n    todayTasks: todayTasks.length,\n    futureTasks: futureTasks.length,\n    noDateTasks: noDateTasks.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        80
      ],
      "id": "459abeab-0647-4731-a397-213d844a7437",
      "name": "agrupar-tareas-futuras"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{JSON.stringify($json)}}",
        "options": {
          "systemMessage": "=Eres mi asistente personal inteligente que me ayuda a comenzar cada día de forma productiva.\nTu tarea es analizar mis tareas pendientes y crear un mensaje matutino dinámico para Telegram.\n\n## INSTRUCCIONES:\n\n### 1. FRASE DEL DÍA DINÁMICA\nBUSCA EN INTERNET una frase motivacional que se adapte al contexto de las tareas:\n- Si hay muchas tareas atrasadas: busca frases sobre \"overcoming challenges\", \"getting back on track\", \"recovery motivation\"\n- Si es un día normal: busca frases sobre \"daily productivity\", \"focus quotes\", \"achievement motivation\"  \n- Si hay pocas tareas: busca frases sobre \"making the most of time\", \"growth mindset\", \"opportunity quotes\"\n- Si es fin de semana: busca frases sobre \"work life balance\", \"rest and renewal\", \"weekend motivation\"\n\nUsa términos de búsqueda en inglés para mejores resultados y traduce la frase seleccionada al español.\n\n### 2. PANORAMA DE TAREAS\nEstructura así:\n```\n📋 Tu panorama de hoy:\n🚨 X tareas ATRASADAS (solo si > 0)\n⏰ X tareas para HOY  \n📅 X tareas futuras\nPor categorías: [emoji] X category | [emoji] X category...\n```\n\n### 3. TOP 3 PRIORIDADES (Jerarquía)\n- PRIMERO: Tareas atrasadas con prioridad \"do\"\n- SEGUNDO: Tareas de hoy con prioridad \"do\" \n- TERCERO: Otras tareas importantes por fecha/prioridad\n\nFormato:\n```\n🎯 TUS 3 PRIORIDADES:\n1. [estado] [Título] - category\n2. [estado] [Título] - category  \n3. [estado] [Título] - category\n```\n\n### 4. ANÁLISIS INTELIGENTE\nIncluye 2-3 elementos estratégicos basados en el análisis real de las tareas:\n\n**ESTRATEGIA:** Analiza patrones y sugiere el mejor orden de ataque:\n- Si hay atrasadas: cómo recuperar control sin abrumar\n- Si hay muchas de una categoría: cómo agrupar eficientemente  \n- Si hay conflictos de prioridad: cómo resolver\n\n**INSIGHT:** Observación inteligente sobre el estado actual:\n- Tendencias en acumulación de tareas\n- Balance entre categorías work/personal\n- Oportunidades de optimización\n\n**TIP PRÁCTICO:** Consejo específico y actionable para HOY:\n- Técnicas de productividad aplicables\n- Gestión de energía según las tareas\n- Prevención de futuros atrasos\n\n## PROCESO:\n1. PRIMERO: Busca una frase motivacional apropiada en internet según el contexto\n2. SEGUNDO: Analiza las tareas y crea el panorama  \n3. TERCERO: Identifica las 3 prioridades principales\n4. CUARTO: Genera el mensaje final optimizado para Telegram\n\n## FORMATO PARA TELEGRAM:\n- NO uses **negritas** (usa MAYÚSCULAS para énfasis)\n- Máximo 18 líneas (expandido para incluir análisis inteligente)\n- Usa emojis abundantemente\n- Tono conversacional pero analítico\n- Incluye nombre \"Alex\" de forma natural\n\n## EMOJIS:\n\n### Por categoría:\n- work: 💼, ⚡, 📊, 💻, 🎯\n- personal: 🏠, 🌱, ❤️, 🔄\n- health: 🏥, 💊, 🩺, 💪\n- shopping: 🛒, 🛍️, 💳\n- study: 📚, 🎓, 🔬\n\n### Por estado:\n- ATRASADA: 🚨\n- HOY: ⏰  \n- FUTURO: 📅\n\n### Por prioridad:\n- do: 🔥, ⚡, 🚨\n- schedule: 📅, ⏰, 📋\n- delegate: 👥, 🤝, 📤\n- delete: 📝, 🔍, 🗂️\n\n## EJEMPLO DE SALIDA:\n```\n🌅 ¡Buenos días Alex! \"Success is not final, failure is not fatal: it is the courage to continue that counts\" - Winston Churchill\n\n📋 Tu panorama de hoy:\n🚨 1 tarea ATRASADA\n⏰ 8 tareas para HOY\n📅 15 tareas futuras\nPor categorías: 💼 5 work | 🏠 2 personal | 📚 1 study | 🏥 1 health\n\n💡 ESTRATEGIA: Primero rescata esa reflexión atrasada - te dará claridad mental para atacar las 5 tareas de work con mejor enfoque.\n\n🔍 INSIGHT: Tienes un buen balance categorial, pero el 60% son work - considera timeboxing para no saturarte.\n\n⚡ TIP PRÁCTICO: Usa la técnica Pomodoro para las tareas de work y deja las personales como \"recompensa\" entre bloques.\n\n🎯 TUS 3 PRIORIDADES:\n1. 🚨 Reflexión personal importante - personal\n2. ⏰ Prompt para SGSI - work  \n3. ⏰ Cierre Unicauca - work\n```\n\nIMPORTANTE: \n- Siempre incluye el autor de la frase cuando sea posible (ej: \"- Steve Jobs\", \"- Gandhi\", etc.)\n- Los consejos deben ser ESPECÍFICOS al contexto actual, no genéricos\n- Analiza patrones reales en las tareas para dar insights valiosos\n- Sugiere técnicas de productividad concretas y aplicables HOY"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -976,
        -432
      ],
      "id": "bdf6c5c1-67c7-4138-b7e3-52d251a4c831",
      "name": "Analizar tareas vencidas y de hoy"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2096,
        -736
      ],
      "id": "db419155-54c3-4d0e-af44-3ea696603970",
      "name": "Revisión Diaria"
    },
    {
      "parameters": {
        "jsCode": "// Calcular fechas para análisis de tareas estancadas\nconst now = new Date();\nconst colombiaOffset = -5 * 60; // -5 horas en minutos\nconst utc = now.getTime() + (now.getTimezoneOffset() * 60000);\nconst colombiaTime = new Date(utc + (colombiaOffset * 60000));\n\n// Fecha actual\nconst today = new Date(colombiaTime);\ntoday.setHours(0, 0, 0, 0);\n\n// Fecha hace 7 días\nconst sevenDaysAgo = new Date(today);\nsevenDaysAgo.setDate(today.getDate() - 7);\n\n// Fecha hace 14 días (para tareas muy estancadas)\nconst fourteenDaysAgo = new Date(today);\nfourteenDaysAgo.setDate(today.getDate() - 14);\n\n// Fecha hace 30 días (para tareas críticas)\nconst thirtyDaysAgo = new Date(today);\nthirtyDaysAgo.setDate(today.getDate() - 30);\n\nreturn {\n  todayTimestamp: today.toISOString(),\n  sevenDaysAgoTimestamp: sevenDaysAgo.toISOString(),\n  fourteenDaysAgoTimestamp: fourteenDaysAgo.toISOString(),\n  thirtyDaysAgoTimestamp: thirtyDaysAgo.toISOString(),\n  todayFormatted: today.toLocaleDateString('es-CO'),\n  sevenDaysAgoFormatted: sevenDaysAgo.toLocaleDateString('es-CO'),\n  fourteenDaysAgoFormatted: fourteenDaysAgo.toLocaleDateString('es-CO'),\n  thirtyDaysAgoFormatted: thirtyDaysAgo.toLocaleDateString('es-CO')\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1872,
        -736
      ],
      "id": "e3a23388-a2f0-47bc-ad90-053261c29e64",
      "name": "Calcular Fechas"
    },
    {
      "parameters": {
        "operation": "query",
        "projectId": "lifetracker-9e171",
        "query": "={\n  \"structuredQuery\": {\n    \"from\": [\n      {\n        \"collectionId\": \"tasks\"\n      }\n    ],\n    \"where\": {\n      \"compositeFilter\": {\n        \"op\": \"AND\",\n        \"filters\": [\n          {\n            \"fieldFilter\": {\n              \"field\": {\n                \"fieldPath\": \"completed\"\n              },\n              \"op\": \"EQUAL\",\n              \"value\": {\n                \"booleanValue\": false\n              }\n            }\n          },\n          {\n            \"fieldFilter\": {\n              \"field\": {\n                \"fieldPath\": \"userId\"\n              },\n              \"op\": \"EQUAL\",\n              \"value\": {\n                \"stringValue\": \"HPiS7rrqvKVm9uZBV8sHzW8wQz33\"\n              }\n            }\n          },\n          {\n            \"fieldFilter\": {\n              \"field\": {\n                \"fieldPath\": \"dueDate\"\n              },\n              \"op\": \"LESS_THAN_OR_EQUAL\",\n              \"value\": {\n                \"timestampValue\": \"{{$json.sevenDaysAgoTimestamp}}\"\n              }\n            }\n          }\n        ]\n      }\n    },\n    \"limit\": 100\n  }\n}"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        -1648,
        -736
      ],
      "id": "16242630-66dc-4cab-ab68-b9b2baea4735",
      "name": "Consultar Tareas Estancadas",
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "MsAsSdle5fXC3unq",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Procesar tareas estancadas y categorizarlas por nivel de urgencia\nconst allTasks = [];\nconst now = new Date();\nconst colombiaOffset = -5 * 60;\nconst utc = now.getTime() + (now.getTimezoneOffset() * 60000);\nconst colombiaTime = new Date(utc + (colombiaOffset * 60000));\nconst today = new Date(colombiaTime);\ntoday.setHours(0, 0, 0, 0);\n\n// Procesar cada tarea\nfor (const item of $input.all()) {\n  const task = {\n    id: item.json._id || 'sin-id',\n    title: item.json.title || 'Sin título',\n    category: item.json.category || 'Sin categoría',\n    priority: item.json.priority || 'schedule',\n    createdAt: item.json.createdAt,\n    dueDate: item.json.dueDate,\n    isPrivate: item.json.isPrivate || false\n  };\n  allTasks.push(task);\n}\n\nif (allTasks.length === 0) {\n  return [{\n    json: {\n      hasStagnantTasks: false,\n      message: \"¡Excelente! No tienes tareas estancadas 🎉\",\n      totalStagnantTasks: 0\n    }\n  }];\n}\n\n// Función para calcular días transcurridos\nfunction calculateDaysStagnant(createdAt) {\n  const created = new Date(createdAt);\n  const diffTime = today - created;\n  return Math.floor(diffTime / (1000 * 60 * 60 * 24));\n}\n\n// Categorizar tareas por nivel de estancamiento\nconst moderatelyStagnant = []; // 7-13 días\nconst highlyStagnant = []; // 14-29 días\nconst criticallyStagnant = []; // 30+ días\n\nallTasks.forEach(task => {\n  const daysStagnant = calculateDaysStagnant(task.createdAt);\n  const taskWithDays = { ...task, daysStagnant };\n  \n  if (daysStagnant >= 30) {\n    criticallyStagnant.push(taskWithDays);\n  } else if (daysStagnant >= 14) {\n    highlyStagnant.push(taskWithDays);\n  } else if (daysStagnant >= 7) {\n    moderatelyStagnant.push(taskWithDays);\n  }\n});\n\n// Ordenar por días estancados (más críticas primero)\nmoderatelyStagnant.sort((a, b) => b.daysStagnant - a.daysStagnant);\nhighlyStagnant.sort((a, b) => b.daysStagnant - a.daysStagnant);\ncriticallyStagnant.sort((a, b) => b.daysStagnant - a.daysStagnant);\n\n// Agrupar por categoría para insights\nconst tasksByCategory = {};\nallTasks.forEach(task => {\n  if (!tasksByCategory[task.category]) {\n    tasksByCategory[task.category] = [];\n  }\n  tasksByCategory[task.category].push(task);\n});\n\n// Identificar la categoría más problemática\nconst categoryWithMostStagnant = Object.entries(tasksByCategory)\n  .map(([category, tasks]) => ({ category, count: tasks.length }))\n  .sort((a, b) => b.count - a.count)[0];\n\n// Identificar tareas de alta prioridad estancadas\nconst highPriorityStagnant = allTasks.filter(task => task.priority === 'do');\n\nreturn [{\n  json: {\n    hasStagnantTasks: true,\n    totalStagnantTasks: allTasks.length,\n    \n    // Categorías por urgencia\n    moderatelyStagnant: {\n      count: moderatelyStagnant.length,\n      tasks: moderatelyStagnant.slice(0, 5) // Top 5\n    },\n    highlyStagnant: {\n      count: highlyStagnant.length,\n      tasks: highlyStagnant.slice(0, 5)\n    },\n    criticallyStagnant: {\n      count: criticallyStagnant.length,\n      tasks: criticallyStagnant.slice(0, 5)\n    },\n    \n    // Análisis adicional\n    highPriorityStagnant: {\n      count: highPriorityStagnant.length,\n      tasks: highPriorityStagnant.slice(0, 3)\n    },\n    \n    // Insights\n    mostProblematicCategory: categoryWithMostStagnant?.category || 'N/A',\n    mostProblematicCategoryCount: categoryWithMostStagnant?.count || 0,\n    \n    // Task más antigua\n    oldestTask: allTasks.reduce((oldest, current) => \n      calculateDaysStagnant(current.createdAt) > calculateDaysStagnant(oldest.createdAt) \n        ? current : oldest\n    ),\n    oldestTaskDays: calculateDaysStagnant(\n      allTasks.reduce((oldest, current) => \n        calculateDaysStagnant(current.createdAt) > calculateDaysStagnant(oldest.createdAt) \n          ? current : oldest\n      ).createdAt\n    ),\n    \n    // Estadísticas generales\n    averageDaysStagnant: Math.round(\n      allTasks.reduce((sum, task) => sum + calculateDaysStagnant(task.createdAt), 0) / allTasks.length\n    )\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1424,
        -736
      ],
      "id": "92e815eb-dfe2-4e15-ad02-58737c5369ae",
      "name": "Analizar Estancamiento"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{JSON.stringify($json)}}",
        "options": {
          "systemMessage": "Eres mi asistente personal especializado en detectar y resolver patrones de procrastinación.\nTu tarea es analizar tareas estancadas y crear un mensaje de alerta inteligente para Telegram.\n\n## INSTRUCCIONES:\n\n### 1. EVALUACIÓN DE URGENCIA\nBasado en los datos, determina el nivel de alerta:\n- 🟡 MODERADO: Solo tareas de 7-13 días\n- 🟠 ALTO: Tareas de 14-29 días \n- 🔴 CRÍTICO: Tareas de 30+ días o muchas de alta prioridad estancadas\n\n### 2. MENSAJE PRINCIPAL\nComienza con un saludo personalizado y el nivel de alerta:\n```\n🚨 [NIVEL] ALERTA Alex! Detecté X tareas estancadas que necesitan atención.\n```\n\n### 3. DESGLOSE POR URGENCIA\nMuestra solo las categorías que existan:\n```\n📊 DESGLOSE:\n🟡 X tareas moderadamente estancadas (7-13 días)\n🟠 X tareas muy estancadas (14-29 días) \n🔴 X tareas CRÍTICAS (30+ días)\n```\n\n### 4. TOP TAREAS PROBLEMÁTICAS\nMuestra las 3-5 tareas más críticas:\n```\n🎯 LAS MÁS CRÍTICAS:\n1. 📌 [Título] - [category] (X días estancada)\n2. 📌 [Título] - [category] (X días estancada)\n3. 📌 [Título] - [category] (X días estancada)\n```\n\n### 5. ANÁLISIS INTELIGENTE\nIncluye 2-3 insights basados en los datos:\n\n**PATRÓN DETECTADO:** \n- Categoría más problemática y por qué\n- Si hay tareas de alta prioridad estancadas\n- Promedio de días de estancamiento\n\n**RECOMENDACIÓN ESPECÍFICA:**\n- Estrategia concreta para desbloquear (ej: \"Dedica 30 min a revisar todas las de [categoría]\")\n- Técnica anti-procrastinación específica\n- Acción inmediata sugerida\n\n**PREVENCIÓN:**\n- Cómo evitar que se acumulen más tareas\n- Frecuencia de revisión sugerida\n\n### 6. CALL TO ACTION\nTermina con una acción específica y medible:\n```\n⚡ ACCIÓN INMEDIATA: [Acción específica para hoy]\n🎯 META: Resolver al menos X tareas estancadas esta semana\n```\n\n## FORMATO PARA TELEGRAM:\n- NO uses **negritas** (usa MAYÚSCULAS para énfasis)\n- Máximo 20 líneas\n- Usa emojis abundantemente\n- Tono directo pero constructivo (no culpabilizador)\n- Incluye nombre \"Alex\" de forma natural\n\n## EMOJIS POR CATEGORÍA:\n- work: 💼, ⚡, 📊, 💻, 🎯\n- personal: 🏠, 🌱, ❤️, 🔄\n- health: 🏥, 💊, 🩺, 💪\n- shopping: 🛒, 🛍️, 💳\n- study: 📚, 🎓, 🔬\n\n## TÉCNICAS ANTI-PROCRASTINACIÓN A SUGERIR:\n- Técnica de los 2 minutos\n- Time-boxing\n- Método Pomodoro\n- Divide y vencerás\n- Eliminar vs Delegar vs Hacer\n- Regla del \"ugly first step\"\n\n## EJEMPLO DE SALIDA:\n```\n🚨 🟠 ALTA ALERTA Alex! Detecté 12 tareas estancadas que necesitan atención urgente.\n\n📊 DESGLOSE:\n🟡 5 tareas moderadamente estancadas (7-13 días)\n🟠 4 tareas muy estancadas (14-29 días)\n🔴 3 tareas CRÍTICAS (30+ días)\n\n🎯 LAS MÁS CRÍTICAS:\n1. 📌 Reflexión personal importante - personal (45 días estancada)\n2. 📌 Documentación SGSI - work (32 días estancada)\n3. 📌 Revisión médica - health (28 días estancada)\n\n🔍 PATRÓN DETECTADO: El 60% son tareas de WORK - posible sobrecarga laboral causando abandono de tareas importantes.\n\n💡 RECOMENDACIÓN: Usa la \"Regla de los 15 minutos\" - dedica solo 15 min a revisar cada tarea crítica y decide: ¿HACER, DELEGAR o ELIMINAR?\n\n🛡️ PREVENCIÓN: Revisa tareas pendientes cada viernes para evitar acumulación.\n\n⚡ ACCIÓN INMEDIATA: Antes del almuerzo, decide el destino de las 3 tareas críticas\n🎯 META: Resolver al menos 6 tareas estancadas esta semana\n```\n\nIMPORTANTE:\n- Sé específico con las recomendaciones (no genérico)\n- Enfócate en SOLUCIONES, no en culpabilizar\n- Sugiere técnicas probadas de productividad\n- Incluye métricas específicas en el call to action"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -976,
        -832
      ],
      "id": "b9a6787d-2ea7-4243-bf0f-f87e0bc3a3f2",
      "name": "Generar Alerta Estancamiento"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -880,
        -608
      ],
      "id": "c14e11df-1659-45cd-8b3f-3c80e1132275",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "dQsbXtfS24IRuLpD",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.totalStagnantTasks | toString }}",
              "operation": "notEqual",
              "value2": "0"
            }
          ]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1200,
        -736
      ],
      "id": "3055aae7-1de7-4831-932e-501b54b9d0c5"
    },
    {
      "parameters": {
        "operation": "query",
        "projectId": "lifetracker-9e171",
        "query": "={\n  \"structuredQuery\": {\n    \"from\": [\n      {\n        \"collectionId\": \"tasks\"\n      }\n    ],\n    \"where\": {\n      \"compositeFilter\": {\n        \"op\": \"AND\",\n        \"filters\": [\n          {\n            \"fieldFilter\": {\n              \"field\": {\n                \"fieldPath\": \"completed\"\n              },\n              \"op\": \"EQUAL\",\n              \"value\": {\n                \"booleanValue\": false\n              }\n            }\n          },\n          {\n            \"fieldFilter\": {\n              \"field\": {\n                \"fieldPath\": \"userId\"\n              },\n              \"op\": \"EQUAL\",\n              \"value\": {\n                \"stringValue\": \"HPiS7rrqvKVm9uZBV8sHzW8wQz33\"\n              }\n            }\n          },\n          {\n            \"compositeFilter\": {\n              \"op\": \"OR\",\n              \"filters\": [\n                {\n                  \"fieldFilter\": {\n                    \"field\": {\n                      \"fieldPath\": \"dueDate\"\n                    },\n                    \"op\": \"GREATER_THAN_OR_EQUAL\",\n                    \"value\": {\n                      \"timestampValue\": \"{{$json.todayTimestamp}}\"\n                    }\n                  }\n                },\n                {\n                  \"unaryFilter\": {\n                    \"field\": {\n                      \"fieldPath\": \"dueDate\"\n                    },\n                    \"op\": \"IS_NULL\"\n                  }\n                }\n              ]\n            }\n          }\n        ]\n      }\n    },\n    \"limit\": 100\n  }\n}"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        -1424,
        80
      ],
      "id": "28264d3a-9d76-4467-a4ea-0e68ca7b3768",
      "name": "Query a document",
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "MsAsSdle5fXC3unq",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "operation": "query",
        "projectId": "lifetracker-9e171",
        "query": "={\n  \"structuredQuery\": {\n    \"from\": [\n      {\n        \"collectionId\": \"tasks\"\n      }\n    ],\n    \"where\": {\n      \"compositeFilter\": {\n        \"op\": \"AND\",\n        \"filters\": [\n          {\n            \"fieldFilter\": {\n              \"field\": {\n                \"fieldPath\": \"completed\"\n              },\n              \"op\": \"EQUAL\",\n              \"value\": {\n                \"booleanValue\": false\n              }\n            }\n          },\n          {\n            \"fieldFilter\": {\n              \"field\": {\n                \"fieldPath\": \"userId\"\n              },\n              \"op\": \"EQUAL\",\n              \"value\": {\n                \"stringValue\": \"HPiS7rrqvKVm9uZBV8sHzW8wQz33\"\n              }\n            }\n          },\n          {\n            \"fieldFilter\": {\n              \"field\": {\n                \"fieldPath\": \"dueDate\"\n              },\n              \"op\": \"LESS_THAN_OR_EQUAL\",\n              \"value\": {\n                \"timestampValue\": \"{{$json.todayTimestamp}}\"\n              }\n            }\n          }\n        ]\n      }\n    },\n    \"limit\": 100\n  }\n}"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        -1424,
        -336
      ],
      "id": "00337c2f-f257-43c4-9400-cc26678819b8",
      "name": "Query a document1",
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "MsAsSdle5fXC3unq",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtener fecha de hoy en Colombia para comparación con fechas (sin hora específica)\nconst now = new Date();\nconst colombiaOffset = -5 * 60; // -5 horas en minutos\nconst utc = now.getTime() + (now.getTimezoneOffset() * 60000);\nconst colombiaTime = new Date(utc + (colombiaOffset * 60000));\n\n// Establecer al inicio del día para comparación correcta con fechas\ncolombiaTime.setHours(0, 0, 0, 0);\n\nreturn {\n  todayTimestamp: colombiaTime.toISOString()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1648,
        80
      ],
      "id": "71690135-d7d9-427a-984b-317217b6476d",
      "name": "Timestamp - Colombia1"
    },
    {
      "parameters": {
        "jsCode": "// Obtener fecha de hoy en Colombia para comparación con fechas (sin hora específica)\nconst now = new Date();\nconst colombiaOffset = -5 * 60; // -5 horas en minutos\nconst utc = now.getTime() + (now.getTimezoneOffset() * 60000);\nconst colombiaTime = new Date(utc + (colombiaOffset * 60000));\n\n// Establecer al inicio del día para comparación correcta con fechas\ncolombiaTime.setHours(0, 0, 0, 0);\n\nreturn {\n  todayTimestamp: colombiaTime.toISOString()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1648,
        -336
      ],
      "id": "0417f2e5-57ce-477d-9408-9a782802bd97",
      "name": "Timestamp - Colombia"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analizar tareas vencidas y de hoy",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Fines de semana": {
      "main": [
        [
          {
            "node": "Timestamp - Colombia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Días de semana": {
      "main": [
        [
          {
            "node": "Timestamp - Colombia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Analizar tareas futuras",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Fines de semana1": {
      "main": [
        [
          {
            "node": "Timestamp - Colombia1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Días de semana1": {
      "main": [
        [
          {
            "node": "Timestamp - Colombia1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analizar tareas futuras": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agrupar-tareas-atrasadas": {
      "main": [
        [
          {
            "node": "Analizar tareas vencidas y de hoy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agrupar-tareas-futuras": {
      "main": [
        [
          {
            "node": "Analizar tareas futuras",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analizar tareas vencidas y de hoy": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Revisión Diaria": {
      "main": [
        [
          {
            "node": "Calcular Fechas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular Fechas": {
      "main": [
        [
          {
            "node": "Consultar Tareas Estancadas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Tareas Estancadas": {
      "main": [
        [
          {
            "node": "Analizar Estancamiento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analizar Estancamiento": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Alerta Estancamiento": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Generar Alerta Estancamiento",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Generar Alerta Estancamiento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query a document": {
      "main": [
        [
          {
            "node": "agrupar-tareas-futuras",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query a document1": {
      "main": [
        [
          {
            "node": "agrupar-tareas-atrasadas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Timestamp - Colombia": {
      "main": [
        [
          {
            "node": "Query a document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Timestamp - Colombia1": {
      "main": [
        [
          {
            "node": "Query a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Bogota",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "6b091dd8-8c78-48e6-b254-2fe5a7d1304d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b20ccdf16f30fbd8ca041181eeeb1f22416a0a238fd9fa21db7b250496cfff32"
  },
  "id": "4Eh98DGuR0w6gkqm",
  "tags": []
}