src/n8n/habits-workflow.json
{
  "name": "habits-workflow",
  "nodes": [
    {
      "parameters": {
        "chatId": "1310836118",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1920,
        -32
      ],
      "id": "afc26926-a7b5-4bb4-bf10-2dc069b5b6c2",
      "name": "Telegram - Hábitos",
      "webhookId": "habits-telegram-webhook",
      "credentials": {
        "telegramApi": {
          "id": "QlsNx2wrG25hDVU5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 11,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        192,
        -160
      ],
      "id": "3fce1b04-b909-4842-b935-59d57731a6e4",
      "name": "🌅 Revisar Hábitos Mañana"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 16,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        192,
        48
      ],
      "id": "d39b06f0-fa9d-410c-9f41-d2c432a36ef2",
      "name": "☀️ Revisar Hábitos Tarde"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 21,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        192,
        240
      ],
      "id": "95e0a6e6-ee1a-4969-ad7f-fd9a4c88ba61",
      "name": "🌙 Revisar Hábitos Noche"
    },
    {
      "parameters": {
        "jsCode": "// Determinar el momento del día y calcular fechas de análisis\nconst now = new Date();\n\n// Ajustar a timezone de Colombia (UTC-5)\nconst colombiaOffset = -5 * 60;\nconst utc = now.getTime() + (now.getTimezoneOffset() * 60000);\nconst colombiaTime = new Date(utc + (colombiaOffset * 60000));\n\n// Determinar momento del día basado en la hora actual\nlet timeOfDay = 'morning';\nconst currentHour = colombiaTime.getHours();\n\nif (currentHour >= 11 && currentHour < 16) {\n  timeOfDay = 'morning'; // Revisar hábitos de la mañana\n} else if (currentHour >= 15 && currentHour < 22) {\n  timeOfDay = 'afternoon'; // Revisar hábitos de la tarde\n} else {\n  timeOfDay = 'night'; // Revisar hábitos de la noche\n}\n\n// Generar fechas de los últimos 7 días\nconst dates = [];\nfor (let i = 0; i < 7; i++) {\n  const date = new Date(colombiaTime);\n  date.setDate(date.getDate() - i);\n  dates.push({\n    dateString: date.toISOString().split('T')[0], // YYYY-MM-DD format\n    dateFormatted: date.toLocaleDateString('es-CO'),\n    isToday: i === 0,\n    year: date.getFullYear(),\n    month: date.getMonth() + 1 // 1-based month\n  });\n}\n\n// Generar document ID dinámicamente para el mes actual\nconst currentYear = colombiaTime.getFullYear();\nconst currentMonth = String(colombiaTime.getMonth() + 1).padStart(2, '0');\nconst currentMonthDocumentId = `HPiS7rrqvKVm9uZBV8sHzW8wQz33_${currentYear}-${currentMonth}`;\n\n// Hábitos por momento del día\nconst habitsByTime = {\n  morning: [\n    { id: 1, name: 'Tomar Agua (mañana)', icon: '💧' },\n    { id: 2, name: 'Ejercicio', icon: '🎾' },\n    { id: 3, name: 'Ducha fria', icon: '🚿' },\n    { id: 4, name: 'Desayuno', icon: '🍳' },\n    { id: 5, name: 'Lavarme los dientes', icon: '🪥' },\n    { id: 6, name: 'Seda Dental', icon: '🦷' },\n    { id: 7, name: 'Tender la cama', icon: '🛏️' },\n    { id: 20, name: 'Lavar loza del desayuno', icon: '🧽' }\n  ],\n  afternoon: [\n    { id: 8, name: 'Almuerzo', icon: '🍽️' },\n    { id: 9, name: 'Siesta', icon: '🛌' },\n    { id: 10, name: 'Lavarme los dientes', icon: '🪥' },\n    { id: 11, name: 'Seda Dental', icon: '🦷' },\n    { id: 19, name: 'Tomar agua (tarde)', icon: '💧' }\n  ],\n  night: [\n    { id: 12, name: 'Cena', icon: '🍽️' },\n    { id: 13, name: 'Lavarme los dientes', icon: '🪥' },\n    { id: 14, name: 'Seda Dental', icon: '🦷' },\n    { id: 15, name: 'Llevar el diario', icon: '📓' },\n    { id: 16, name: 'Botar algo que no sirva', icon: '🗑️' },\n    { id: 17, name: 'Organizar la cocina', icon: '🍴' },\n    { id: 18, name: 'Lectura', icon: '📚' },\n    { id: 21, name: 'Lista de pendientes', icon: '📝' }\n  ]\n};\n\nreturn {\n  timeOfDay: timeOfDay,\n  currentHour: currentHour,\n  dates: dates,\n  currentMonthDocumentId: currentMonthDocumentId,\n  habitsToCheck: habitsByTime[timeOfDay],\n  analysisContext: {\n    morningCheck: timeOfDay === 'morning' ? 'Revisando hábitos matutinos' : null,\n    afternoonCheck: timeOfDay === 'afternoon' ? 'Revisando hábitos de la tarde' : null,\n    nightCheck: timeOfDay === 'night' ? 'Revisando hábitos nocturnos' : null\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        48
      ],
      "id": "292741dc-c767-44e1-9021-a5553fe02801",
      "name": "Calcular Contexto y Fechas"
    },
    {
      "parameters": {
        "projectId": "lifetracker-9e171",
        "collection": "habits",
        "documentId": "={{ $json.currentMonthDocumentId }}"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        592,
        48
      ],
      "id": "cfb60f56-d309-4c81-8614-f2c9e320f1cb",
      "name": "Obtener Hábitos Mes Actual",
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "MsAsSdle5fXC3unq",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Procesar datos de hábitos del documento mensual\nconst inputData = $input.first().json;\n\n// RECALCULAR CONTEXTO\nconst now = new Date();\nconst colombiaOffset = -5 * 60;\nconst utc = now.getTime() + (now.getTimezoneOffset() * 60000);\nconst colombiaTime = new Date(utc + (colombiaOffset * 60000));\n\n// Determinar momento del día\nlet timeOfDay = 'morning';\nconst currentHour = colombiaTime.getHours();\n\nif (currentHour >= 1 && currentHour < 12) {\n  timeOfDay = 'morning';\n} else if (currentHour >= 12 && currentHour < 18) {\n  timeOfDay = 'afternoon';\n} else {\n  timeOfDay = 'night';\n}\n\n// Generar fechas de los últimos 7 días\nconst dates = [];\nfor (let i = 0; i < 7; i++) {\n  const date = new Date(colombiaTime);\n  date.setDate(date.getDate() - i);\n  \n  const year = date.getFullYear();\n  const month = String(date.getMonth() + 1).padStart(2, '0');\n  const day = String(date.getDate()).padStart(2, '0');\n  const dateString = `${year}-${month}-${day}`;\n  \n  dates.push({\n    dateString: dateString,\n    dateFormatted: date.toLocaleDateString('es-CO'),\n    isToday: i === 0\n  });\n}\n\n// Hábitos por momento del día\nconst habitsByTime = {\n  morning: [\n    { id: 1, name: 'Tomar Agua (mañana)', icon: '💧', category: 'health' },\n    { id: 2, name: 'Ejercicio', icon: '🎾', category: 'fitness' },\n    { id: 3, name: 'Ducha fria', icon: '🚿', category: 'wellness' },\n    { id: 4, name: 'Desayuno', icon: '🍳', category: 'nutrition' },\n    { id: 5, name: 'Lavarme los dientes', icon: '🪥', category: 'hygiene' },\n    { id: 6, name: 'Seda Dental', icon: '🦷', category: 'hygiene' },\n    { id: 7, name: 'Tender la cama', icon: '🛏️', category: 'organization' },\n    { id: 20, name: 'Lavar loza del desayuno', icon: '🧽', category: 'organization' }\n  ],\n  afternoon: [\n    { id: 8, name: 'Almuerzo', icon: '🍽️', category: 'nutrition' },\n    { id: 9, name: 'Siesta', icon: '🛌', category: 'wellness' },\n    { id: 10, name: 'Lavarme los dientes', icon: '🪥', category: 'hygiene' },\n    { id: 11, name: 'Seda Dental', icon: '🦷', category: 'hygiene' },\n    { id: 19, name: 'Tomar agua (tarde)', icon: '💧', category: 'health' }\n  ],\n  night: [\n    { id: 12, name: 'Cena', icon: '🍽️', category: 'nutrition' },\n    { id: 13, name: 'Lavarme los dientes', icon: '🪥', category: 'hygiene' },\n    { id: 14, name: 'Seda Dental', icon: '🦷', category: 'hygiene' },\n    { id: 15, name: 'Llevar el diario', icon: '📓', category: 'personal_development' },\n    { id: 16, name: 'Botar algo que no sirva', icon: '🗑️', category: 'organization' },\n    { id: 17, name: 'Organizar la cocina', icon: '🍴', category: 'organization' },\n    { id: 18, name: 'Lectura', icon: '📚', category: 'personal_development' },\n    { id: 21, name: 'Lista de pendientes', icon: '📝', category: 'productivity' }\n  ]\n};\n\nconst habitsToCheck = habitsByTime[timeOfDay];\n\n// EXTRAER DATOS DE FIRESTORE\nlet monthlyHabitsDoc = {};\nif (Array.isArray(inputData) && inputData.length > 0) {\n  const firestoreDoc = inputData[0];\n  if (firestoreDoc.habits) {\n    monthlyHabitsDoc = firestoreDoc;\n  }\n} else if (inputData.habits) {\n  monthlyHabitsDoc = inputData;\n} else {\n  monthlyHabitsDoc = { habits: {} };\n}\n\nconst habitsMap = monthlyHabitsDoc?.habits || {};\n\n// ANÁLISIS POR HÁBITOS\nconst habitAnalysis = {};\nlet totalCompletedToday = 0;\nlet totalPossibleToday = habitsToCheck.length;\n\nhabitsToCheck.forEach(habit => {\n  const analysis = {\n    id: habit.id,\n    name: habit.name,\n    icon: habit.icon,\n    category: habit.category,\n    weekData: [],\n    completedDays: 0,\n    missedDays: 0,\n    currentStreak: 0,\n    isCompletedToday: false,\n    weekCompletionRate: 0,\n    severity: 'good',\n    severityScore: 0 // Para ordenamiento más preciso\n  };\n\n  // Analizar cada día para este hábito\n  dates.forEach(dateInfo => {\n    const habitKey = `${habit.id}_${dateInfo.dateString}`;\n    const isCompleted = habitsMap[habitKey] === true;\n    \n    analysis.weekData.push({\n      date: dateInfo.dateFormatted,\n      isToday: dateInfo.isToday,\n      completed: isCompleted\n    });\n    \n    if (isCompleted) {\n      analysis.completedDays++;\n      if (dateInfo.isToday) {\n        analysis.isCompletedToday = true;\n        totalCompletedToday++;\n      }\n    } else {\n      analysis.missedDays++;\n    }\n  });\n\n  // Calcular rachas (positiva y negativa)\n  let positiveStreak = 0; // días consecutivos completando\n  let negativeStreak = 0; // días consecutivos sin completar\n  \n  for (let i = 0; i < dates.length; i++) {\n    const dateInfo = dates[i];\n    const habitKey = `${habit.id}_${dateInfo.dateString}`;\n    const isCompleted = habitsMap[habitKey] === true;\n    \n    if (isCompleted) {\n      positiveStreak++;\n      if (negativeStreak === 0) continue; // Si ya estábamos en racha positiva, seguir\n      else break; // Si veníamos de racha negativa, parar\n    } else {\n      negativeStreak++;\n      if (positiveStreak === 0) continue; // Si ya estábamos en racha negativa, seguir  \n      else break; // Si veníamos de racha positiva, parar\n    }\n  }\n  \n  analysis.positiveStreak = positiveStreak;\n  analysis.negativeStreak = negativeStreak;\n  analysis.currentStreak = positiveStreak > 0 ? positiveStreak : -negativeStreak; // Positivo si bueno, negativo si malo\n\n  // Determinar severidad con score para mejor ordenamiento\n  const absStreak = Math.abs(analysis.currentStreak);\n  \n  if (analysis.currentStreak < 0) { // Racha negativa (malo)\n    if (absStreak >= 3) {\n      analysis.severity = 'critical';\n      analysis.severityScore = 4;\n    } else if (absStreak >= 2) {\n      analysis.severity = 'warning';\n      analysis.severityScore = 3;\n    } else if (absStreak >= 1) {\n      analysis.severity = 'mild';\n      analysis.severityScore = 2;\n    }\n  } else { // Racha positiva o neutral (bueno)\n    analysis.severity = 'good';\n    analysis.severityScore = 1;\n  }\n\n  analysis.weekCompletionRate = (analysis.completedDays / 7) * 100;\n  habitAnalysis[habit.id] = analysis;\n});\n\n// ESTADÍSTICAS POR CATEGORÍA\nconst categoryStats = {};\nconst categories = [...new Set(habitsToCheck.map(h => h.category))];\n\ncategories.forEach(category => {\n  const categoryHabits = Object.values(habitAnalysis).filter(h => h.category === category);\n  categoryStats[category] = {\n    totalHabits: categoryHabits.length,\n    completedToday: categoryHabits.filter(h => h.isCompletedToday).length,\n    averageCompletionRate: categoryHabits.reduce((sum, h) => sum + h.weekCompletionRate, 0) / categoryHabits.length,\n    problemHabits: categoryHabits.filter(h => h.severity !== 'good').length\n  };\n});\n\n// HÁBITOS PROBLEMÁTICOS (mejorado)\nconst problemHabits = Object.values(habitAnalysis)\n  .filter(analysis => analysis.severity !== 'good')\n  .sort((a, b) => {\n    // Ordenar por severityScore y luego por peor racha negativa\n    if (a.severityScore !== b.severityScore) {\n      return b.severityScore - a.severityScore;\n    }\n    return a.currentStreak - b.currentStreak; // Más negativo = peor\n  });\n\n// ESTADÍSTICAS GENERALES\nconst weekStats = {\n  period: `${dates[6].dateFormatted} - ${dates[0].dateFormatted}`,\n  timeOfDay: timeOfDay,\n  currentTime: colombiaTime.toISOString(),\n  todayCompletionRate: totalPossibleToday > 0 ? (totalCompletedToday / totalPossibleToday) * 100 : 0,\n  totalHabitsToCheck: totalPossibleToday,\n  completedToday: totalCompletedToday,\n  missedToday: totalPossibleToday - totalCompletedToday,\n  averageWeekCompletionRate: Object.values(habitAnalysis).reduce((sum, h) => sum + h.weekCompletionRate, 0) / habitsToCheck.length,\n  habitsCountBySeverity: {\n    good: Object.values(habitAnalysis).filter(h => h.severity === 'good').length,\n    mild: Object.values(habitAnalysis).filter(h => h.severity === 'mild').length,\n    warning: Object.values(habitAnalysis).filter(h => h.severity === 'warning').length,\n    critical: Object.values(habitAnalysis).filter(h => h.severity === 'critical').length\n  },\n  categoryStats: categoryStats\n};\n\n// DETERMINAR SI NECESITA INTERVENCIÓN\nconst needsIntervention = weekStats.habitsCountBySeverity.critical > 0 || \n                         weekStats.todayCompletionRate < 99 ||\n                         problemHabits.length >= 1;\n\n// GENERAR RECOMENDACIONES ESPECÍFICAS\nconst recommendations = [];\n\nif (problemHabits.length > 0) {\n  const criticalHabits = problemHabits.filter(h => h.severity === 'critical');\n  const warningHabits = problemHabits.filter(h => h.severity === 'warning');\n  \n  if (criticalHabits.length > 0) {\n    recommendations.push({\n      type: 'urgent',\n      message: `Atención inmediata requerida para ${criticalHabits.length} hábito(s) crítico(s)`,\n      habits: criticalHabits.map(h => ({ \n        id: h.id, \n        name: h.name, \n        negativeStreak: Math.abs(h.currentStreak),\n        daysWithoutDoing: h.negativeStreak\n      }))\n    });\n  }\n  \n  if (warningHabits.length > 0) {\n    recommendations.push({\n      type: 'moderate',\n      message: `${warningHabits.length} hábito(s) en riesgo de volverse crítico(s)`,\n      habits: warningHabits.map(h => ({ \n        id: h.id, \n        name: h.name, \n        negativeStreak: Math.abs(h.currentStreak),\n        daysWithoutDoing: h.negativeStreak\n      }))\n    });\n  }\n}\n\n// Recomendaciones por categoría problemática\nObject.entries(categoryStats).forEach(([category, stats]) => {\n  if (stats.problemHabits > 0) {\n    recommendations.push({\n      type: 'category',\n      message: `Categoría \"${category}\" necesita atención: ${stats.problemHabits}/${stats.totalHabits} hábitos problemáticos`,\n      category: category,\n      completionRate: stats.averageCompletionRate\n    });\n  }\n});\n\nreturn [{\n  json: {\n    // CONTEXTO Y METADATOS\n    context: {\n      analysisTime: colombiaTime.toISOString(),\n      timeOfDay: timeOfDay,\n      currentHour: currentHour,\n      period: weekStats.period\n    },\n    \n    // RESUMEN EJECUTIVO PRIMERO (lo más importante para la IA)\n    summary: {\n      needsIntervention: needsIntervention,\n      overallStatus: needsIntervention ? 'needs_attention' : 'good',\n      todayCompletionRate: weekStats.todayCompletionRate,\n      weeklyCompletionRate: weekStats.averageWeekCompletionRate,\n      totalProblems: problemHabits.length,\n      criticalCount: weekStats.habitsCountBySeverity.critical,\n      warningCount: weekStats.habitsCountBySeverity.warning,\n      // Múltiples perspectivas del hábito más problemático\n      primaryConcerns: {\n        bySeverityAndStreak: problemHabits.length > 0 ? problemHabits[0] : null,\n        byWorstNegativeStreak: problemHabits.length > 0 ? problemHabits.reduce((worst, habit) => \n          habit.currentStreak < worst.currentStreak ? habit : worst, problemHabits[0]) : null,\n        byLowestCompletion: problemHabits.length > 0 ? problemHabits.reduce((min, habit) => \n          habit.weekCompletionRate < min.weekCompletionRate ? habit : min, problemHabits[0]) : null\n      },\n      topPriorityHabits: problemHabits.slice(0, 3),\n      worstStreaks: problemHabits.slice().sort((a, b) => a.currentStreak - b.currentStreak).slice(0, 3) // Los 3 con peor racha negativa\n    },\n    \n    // RECOMENDACIONES ESPECÍFICAS\n    recommendations: recommendations,\n    \n    // ESTADÍSTICAS DETALLADAS\n    statistics: {\n      weekly: weekStats,\n      byCategory: categoryStats,\n      daily: {\n        completed: totalCompletedToday,\n        total: totalPossibleToday,\n        remaining: totalPossibleToday - totalCompletedToday\n      }\n    },\n    \n    // HÁBITOS QUE NECESITAN ATENCIÓN\n    habits: {\n      problems: problemHabits,\n      pendingToday: Object.values(habitAnalysis).filter(h => !h.isCompletedToday)\n        .map(h => ({\n          id: h.id,\n          name: h.name,\n          icon: h.icon,\n          category: h.category,\n          severity: h.severity,\n          negativeStreak: h.negativeStreak,\n          weekCompletionRate: h.weekCompletionRate\n        }))\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        48
      ],
      "id": "83f9b867-65cb-469a-87d1-28c362828e2d",
      "name": "Analizar Patrones de Hábitos"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.summary.needsIntervention }}",
              "value2": true
            }
          ]
        }
      },
      "name": "¿Necesita Intervención?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1200,
        48
      ],
      "id": "a2ac2763-6320-467a-b5d1-7ec0bec951a8"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{JSON.stringify($json)}}",
        "options": {
          "systemMessage": "=Eres mi coach personal de hábitos que me ayuda a mantener consistencia y motivación.\\nTu tarea es analizar mis patrones de hábitos y crear mensajes motivacionales personalizados para Telegram.\\n\\n## INSTRUCCIONES:\\n\\n### 1. ANÁLISIS DEL CONTEXTO\\nBasado en los datos recibidos:\\n- **Momento del día**: morning/afternoon/night\\n- **Hábitos faltantes**: Los que no completé hoy\\n- **Patrones semanales**: Tendencias de los últimos 7 días\\n- **Severidad**: mild/warning/critical según rachas\\n\\n### 2. ESTRUCTURA DEL MENSAJE\\n\\n**SALUDO CONTEXTUAL:**\\n```\\n[emoji-momento] ¡Hola Alex! [hora-contexto]\\n```\\n\\n**ESTADO ACTUAL:**\\n```\\n📊 Hábitos de [momento]: X de X completados (X%)\\n❌ Pendientes: [emoji] [nombre] | [emoji] [nombre]...\\n```\\n\\n**ANÁLISIS DE PATRONES:**\\n- Si hay hábitos con racha crítica (3+ días): Enfoque en el más problemático\\n- Si son warnings (2 días): Motivación preventiva\\n- Si son mild (1 día): Recordatorio amigable\\n\\n**MENSAJE MOTIVACIONAL:**\\nAdaptado al tipo de hábito y severidad:\\n- **Crítico**: \\\"Llevas X días sin [hábito]. Esto puede afectar [beneficio]. ¿Qué está pasando?\\\"\\n- **Warning**: \\\"Dos días sin [hábito]. Aún estás a tiempo de retomar el ritmo\\\"\\n- **Mild**: \\\"Solo te falta [hábito] para completar tu rutina de [momento]\\\"\\n\\n**ESTRATEGIA ESPECÍFICA:**\\nConsejos prácticos basados en el hábito específico:\\n- Tomar agua: \\\"Pon un vaso visible en la cocina\\\"\\n- Ejercicio: \\\"Empieza con solo 10 minutos\\\"\\n- Dientes: \\\"Hazlo después de [hábito que sí haces]\\\"\\n- Lectura: \\\"Lee durante el desayuno\\\"\\n\\n**MOTIVACIÓN FINAL:**\\nFrase inspiradora relacionada con el beneficio del hábito\\n\\n### 3. FORMATO PARA TELEGRAM:\\n- NO uses **negritas** (usa MAYÚSCULAS para énfasis)\\n- Máximo 15 líneas\\n- Tono amigable pero directo\\n- Emojis abundantes\\n- Incluye nombre \\\"Alex\\\" naturalmente\\n\\n### 4. EMOJIS POR MOMENTO:\\n- **Morning**: 🌅, ☀️, 🌞, ⏰, 💪\\n- **Afternoon**: ☀️, 🕐, 📊, 💧, 🍽️\\n- **Night**: 🌙, ✨, 🌟, 📚, 😴\\n\\n### 5. EMOJIS POR HÁBITO:\\n- Agua: 💧, 🚰, 💦\\n- Ejercicio: 🎾, 💪, 🏃‍♂️, ⚡\\n- Dientes: 🪥, 🦷, ✨\\n- Ducha: 🚿, 💎, ❄️\\n- Comidas: 🍳, 🍽️, 🥗\\n- Lectura: 📚, 📖, 🧠\\n- Organización: 🏠, 🧹, 📝\\n\\n### 6. ESTRATEGIAS POR TIPO DE HÁBITO:\\n\\n**Físicos (agua, ejercicio, ducha)**:\\n- Conectar con rutinas existentes\\n- Enfatizar beneficios inmediatos\\n- Sugerir versiones más fáciles\\n\\n**Higiene (dientes, seda dental)**:\\n- Crear cadenas de hábitos\\n- Recordar consecuencias de salud\\n- Hacer más visible el implemento\\n\\n**Productividad (lista, organizar)**:\\n- Conectar con objetivos mayores\\n- Hacer más simple o rápido\\n- Enfatizar la paz mental que da\\n\\n**Autocuidado (lectura, diario)**:\\n- Conectar con crecimiento personal\\n- Sugerir momentos específicos\\n- Enfatizar el disfrute, no la obligación\\n\\n## EJEMPLOS POR SEVERIDAD:\\n\\n**CRÍTICO (3+ días):**\\n```\\n🌅 ¡Hola Alex! Buenos días\\n\\n📊 Hábitos matutinos: 6 de 8 completados (75%)\\n❌ Pendientes: 💧 Tomar agua | 🎾 Ejercicio\\n\\n🚨 Llevas 4 días sin hacer ejercicio. Tu energía y enfoque pueden estar siendo afectados. ¿Qué está interfiriendo?\\n\\n💡 ESTRATEGIA: Hoy haz solo 15 minutos. Pon tu ropa deportiva visible anoche.\\n\\n⚡ Recuerda: \\\"El ejercicio no es castigo, es celebración de lo que tu cuerpo puede hacer\\\"\\n```\\n\\n**WARNING (2 días):**\\n```\\n🌙 ¡Alex! Revisión nocturna\\n\\n📊 Hábitos nocturnos: 6 de 8 completados (75%)\\n❌ Pendientes: 📚 Lectura | 📝 Lista pendientes\\n\\n⚠️ Dos noches sin lectura. Aún puedes retomar el ritmo antes de que se vuelva patrón.\\n\\n💡 TIP: Lee solo 2 páginas mientras cenas. Cuenta como completado.\\n\\n✨ \\\"5 minutos de lectura son infinitamente mejores que 0\\\"\\n```\\n\\n**MILD (1 día):**\\n```\\n☀️ ¡Hola Alex! Revisión de tarde\\n\\n📊 Hábitos de tarde: 4 de 5 completados (80%)\\n❌ Pendiente: 💧 Tomar agua\\n\\n😊 ¡Vas súper bien! Solo te falta tu vaso de agua de la tarde para completar todo.\\n\\n💡 Ve por él ahora - hidrátate y celebra tu consistencia.\\n\\n💪 ¡Casi perfecto el día de hoy!\\n```\\n\\nIMPORTANTE:\\n- Personaliza según el hábito específico faltante\\n- Sé empático pero motivador\\n- Ofrece soluciones concretas y fáciles\\n- Conecta con beneficios personales importantes\\n- Mantén tono positivo incluso en situaciones críticas y por favor No añadas saludos ni despedidas de tus propias respuestas"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1488,
        -32
      ],
      "id": "9a0b67ee-a373-4874-92bf-5e13384ebeda",
      "name": "Generar Mensaje Motivacional"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1488,
        128
      ],
      "id": "13bdd25e-d98f-4b26-88ef-cfc755042e20",
      "name": "Google Gemini - Hábitos",
      "credentials": {
        "googlePalmApi": {
          "id": "dQsbXtfS24IRuLpD",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "🌅 Revisar Hábitos Mañana": {
      "main": [
        [
          {
            "node": "Calcular Contexto y Fechas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "☀️ Revisar Hábitos Tarde": {
      "main": [
        [
          {
            "node": "Calcular Contexto y Fechas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌙 Revisar Hábitos Noche": {
      "main": [
        [
          {
            "node": "Calcular Contexto y Fechas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular Contexto y Fechas": {
      "main": [
        [
          {
            "node": "Obtener Hábitos Mes Actual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Hábitos Mes Actual": {
      "main": [
        [
          {
            "node": "Analizar Patrones de Hábitos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analizar Patrones de Hábitos": {
      "main": [
        [
          {
            "node": "¿Necesita Intervención?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Necesita Intervención?": {
      "main": [
        [
          {
            "node": "Generar Mensaje Motivacional",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Mensaje Motivacional": {
      "main": [
        [
          {
            "node": "Telegram - Hábitos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini - Hábitos": {
      "ai_languageModel": [
        [
          {
            "node": "Generar Mensaje Motivacional",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Bogota",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "517d4bac-4d68-474d-99e0-58036fbaf82d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b20ccdf16f30fbd8ca041181eeeb1f22416a0a238fd9fa21db7b250496cfff32"
  },
  "id": "PObv6qOejwuHq0OW",
  "tags": []
}